<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Product Registration Form</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/testModel}"
					th:object="${testModel}" method="post" class="form-horizontal"
					role="form">
					<h2>Product Registration Form</h2>

					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" class="validation-message"></label>
							<div class="input-group">
								<span class="input-group-addon" id="sizing-addon2">Customer Name</span> <input type="text" th:field="*{customerName}" class="form-control" placeholder="Customer Name"	aria-describedby="sizing-addon2" />
							</div>
						</div>
					</div>

					

					

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Register
								Product</button>
						</div>
					</div>
					<span th:utext="${successMessage}"></span>
				</form>
			</div>
		</div>
	</div>

</body>
</html>