<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/addProduct.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

<script
	src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

</head>
<body>
	<div class="container">

		<div class="row">

			<div class="col-md-10 col-md-offset-3">

				<form class="form-horizontal" action="#" th:action="@{/testMap}">





					<div class="form-group">
						<div class="col-sm-9">
							<table>
								<tr th:each="instance, iterSta : ${category}">
									<td th:text="${instance.id}">keyvalue</td>
									<td th:text="${instance.name}">keyvalue</td>
								</tr>
							</table>
						</div>
					</div>





					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Apply</button>
						</div>
					</div>
					<span th:utext="${successMessage}"></span>
				</form>
			</div>
		</div>




	</div>

</body>

<script>
	$(document).ready(function() {
		$('#datePicker').datepicker({
			format : 'dd/mm/yyyy'
		});
		$('#datePicker2').datepicker({
			format : 'dd/mm/yyyy'
		});

	});
</script>
</html>

